
header{
    font-family: 'Poppins', sans-serif;
    position: relative;

    .row{
        margin: 20px 0px !important;
    }

    // .logo-name{
    //     font-size: 14px;
    //     color: white;
    //     font-weight: 300;
    //     letter-spacing: 2px;
    //     text-decoration: none;

    //     &:hover{
    //         color: white;
    //     }
    // }

    ul{
        list-style-type: none;
    }

    .line{
        width: 100%;
        height: 1px;
        background-color: rgb(170, 170, 170);
    }
}

body{
    overflow:auto !important;
}

main{
    font-family: 'Poppins', sans-serif;
    .about-title-section{
        .container{
            margin-top: 50px;
        }
        .image-content{
            width: 300px;
            height: 300px;
            // background-color: red;
            // border-radius: 50%;
            margin-top: 50px ;
            img{
                object-fit: cover;
                width: 100%;
                max-height: 100%;
                // border-radius: 50%;
                border-top-left-radius: 50% 50%; border-top-right-radius: 50% 50%; border-bottom-right-radius: 50% 50%; border-bottom-left-radius: 50% 50%;
            }
        }
        .about-head{
            margin: 20px 0px;
            color: white;
            span{
                font-weight: 300;
                font-size: 25px;
            }
        }
        .about-context{
            margin: 10px 0px;
            font-size: 13px;
            color: rgb(218, 218, 218);
            display: flex;
            justify-content:center;
            p{
                width: 50%;
            }
            .myCV{
                color: rgb(154, 154, 154);
                text-decoration: none;
            }
        }

        // margin-bottom: 60px;

    }

    #about-roadmap{
        .container-fuild{
            height: 100px;
        }
        // .row{
        //     height: 100%;
        //     width: 100%;
        // }

        .map-title{
            margin-bottom: 70px;
            .map-name{
                color: white;
                font-size: 20px;
                font-weight: 300;
            }
        }
        
        .road-map{
            position: relative;
            .main-line{
                background-color: rgb(224, 224, 224);
                height: 60px;
                width: 5px;
                padding: 0px !important;
                margin: 0px 10px;
                border-radius: 10px;
            }
            .small-line{
                background-color: rgb(224, 224, 224);
                height: 30px !important;
            }
            .long-line{
                background-color: rgb(224, 224, 224);
                height: 100px !important;
            }
            .main-yaer{
                color: white;
                font-size: 15px;
                font-weight: 300;
                // position: absolute;
                // left: 45%;
                // width: 10%;
                // top: 14px;
            }
            .little-circle{
                height: 10px !important;
                width: 10px !important;
            }
            .main-circle{
                height: 15px;
                margin: 45px 0px;
                position:relative;
                top: 10%;
                width: 15px;
                background-color: white;
                padding: 0px !important;
                border-radius: 50%;
                // position:absolute;
                // top: 18px;
                &::after{
                    position: absolute;
                    top: -48px;
                    left: 5px;
                    width: 5px !important;
                    height: 50px !important;
                    background-color: white;
                    padding: 0px !important;
                    border-radius: 10px;
                    content: "";
                }
                &::before{
                    position: absolute;
                    top: 13px;
                    left: 5px;
                    width: 5px !important;
                    height: 50px !important;
                    background-color: white;
                    padding: 0px !important;
                    border-radius: 10px;
                    content: "";
                }
            }
        }
    }
}

.about-title{
    font-size: 50px;
    color: white;
    font-weight: 500;
}
.about-context{
    text-align: center;
    color: white;
}

@media (max-width: 446px) {
    .about-context{
        p{
            width: 75% !important;
        }
    }
}