

.contact{
    .navbar-side{
        justify-content: end !important;
    }
    .container{
        font-weight: 200 !important;
        .contact-head{
            font-size: 25px;
            color: white;
            font-weight: 300;
            padding: 50px 0px;
        }
        .form-label{
            color: white;
        }

        .form-control{
            background-color: transparent;
            border:0px;
            border-radius: 0px;
            border:0px !important;
            box-shadow: none !important;
            border-bottom: 1px solid white !important;
            color: white;
            font-weight: 200 !important;
        }
        .btn-sep{
            background-color: transparent;
            border: 1px solid white !important;
            color: rgb(122, 122, 122);
            transition: 0.5s;
            &:hover{
                transition: 0.5s;
                color: white;
            }
        }
    }
}

@media (max-width: 576px) {
    .navbar-logo-name{
        font-size: 12px !important;
    }
    .navbar-side{
        justify-content: end !important;
    }
}


@media (max-width: 280px) {
    .navbar-side{
        width: 100% !important;
        justify-content: center !important;
    }
    .logo-side{
        width: 100% !important;
        justify-content: center !important;
        text-align: center;
    }
}