.home-section {
  overflow: hidden !important;
}

.home-section header {
  background-color: transparent;
  position: absolute;
  width: 100%;
  left: 0px;
}

.home-section header .container {
  background-color: transparent;
}

.home-section header .container .header-item {
  font-size: 20px;
  text-decoration: none;
  color: white;
}

.home-section header .container .li-items {
  margin: 40px 20px !important;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home-section header .container .li-items li {
  list-style-type: none;
  z-index: 10;
  margin: 0px 30px;
}

.home-section header .container .li-item {
  font-size: 17px;
  text-decoration: none;
  color: white;
  font-weight: 300;
  z-index: 100;
}

.home-section header .container .li-item a {
  cursor: default;
}

.socialMedias ul {
  list-style-type: none;
}

.socialMedias ul li {
  z-index: 10 !important;
}

.socialMedias ul a {
  color: white;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 100 !important;
}

.socialMedias ul a i {
  cursor: pointer;
  z-index: 10 !important;
}

.cursor-item {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid whitesmoke;
  z-index: 1;
}

.little-cursor-item {
  position: absolute;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  opacity: 0.5;
  background-color: white;
  z-index: 1;
}

.rainNumber {
  -webkit-animation: rainMove 5s infinite;
          animation: rainMove 5s infinite;
  color: white;
  z-index: 5;
  position: absolute;
  top: 0%;
  left: 0px;
  display: block;
  height: 1px;
}

.hello-side {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hello-side .row {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
}

.hello-side .socialMedias ul {
  z-index: 10 !important;
}

.hello-side .socialMedias li {
  z-index: 10 !important;
  margin: 0px 10px !important;
}

.hello-side .socialMedias a {
  z-index: 10 !important;
}

.hello-side .portfolio-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 93vh;
}

.hello-side .portfolio-name a {
  color: #c1c1c1;
  text-decoration: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 10;
}

@media (max-width: 446px) {
  .home-section header .container .li-items {
    margin: 40px 0px !important;
  }
  .home-section header .container li {
    margin: 0px 14px !important;
  }
  .home-section header .container .li-item {
    font-size: 15px !important;
  }
}

@media (max-width: 280px) {
  .home-section header .container .li-item {
    font-size: 13px !important;
  }
}

@-webkit-keyframes rainMove {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  100% {
    -webkit-transform: translate(0px, calc(100vh));
            transform: translate(0px, calc(100vh));
  }
}

@keyframes rainMove {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  100% {
    -webkit-transform: translate(0px, calc(100vh));
            transform: translate(0px, calc(100vh));
  }
}

header {
  font-family: 'Poppins', sans-serif;
  position: relative;
}

header .row {
  margin: 20px 0px !important;
}

header ul {
  list-style-type: none;
}

header .line {
  width: 100%;
  height: 1px;
  background-color: #aaaaaa;
}

body {
  overflow: auto !important;
}

main {
  font-family: 'Poppins', sans-serif;
}

main .about-title-section .container {
  margin-top: 50px;
}

main .about-title-section .image-content {
  width: 300px;
  height: 300px;
  margin-top: 50px;
}

main .about-title-section .image-content img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  max-height: 100%;
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
}

main .about-title-section .about-head {
  margin: 20px 0px;
  color: white;
}

main .about-title-section .about-head span {
  font-weight: 300;
  font-size: 25px;
}

main .about-title-section .about-context {
  margin: 10px 0px;
  font-size: 13px;
  color: #dadada;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .about-title-section .about-context p {
  width: 50%;
}

main .about-title-section .about-context .myCV {
  color: #9a9a9a;
  text-decoration: none;
}

main #about-roadmap .container-fuild {
  height: 100px;
}

main #about-roadmap .map-title {
  margin-bottom: 70px;
}

main #about-roadmap .map-title .map-name {
  color: white;
  font-size: 20px;
  font-weight: 300;
}

main #about-roadmap .road-map {
  position: relative;
}

main #about-roadmap .road-map .main-line {
  background-color: #e0e0e0;
  height: 60px;
  width: 5px;
  padding: 0px !important;
  margin: 0px 10px;
  border-radius: 10px;
}

main #about-roadmap .road-map .small-line {
  background-color: #e0e0e0;
  height: 30px !important;
}

main #about-roadmap .road-map .long-line {
  background-color: #e0e0e0;
  height: 100px !important;
}

main #about-roadmap .road-map .main-yaer {
  color: white;
  font-size: 15px;
  font-weight: 300;
}

main #about-roadmap .road-map .little-circle {
  height: 10px !important;
  width: 10px !important;
}

main #about-roadmap .road-map .main-circle {
  height: 15px;
  margin: 45px 0px;
  position: relative;
  top: 10%;
  width: 15px;
  background-color: white;
  padding: 0px !important;
  border-radius: 50%;
}

main #about-roadmap .road-map .main-circle::after {
  position: absolute;
  top: -48px;
  left: 5px;
  width: 5px !important;
  height: 50px !important;
  background-color: white;
  padding: 0px !important;
  border-radius: 10px;
  content: "";
}

main #about-roadmap .road-map .main-circle::before {
  position: absolute;
  top: 13px;
  left: 5px;
  width: 5px !important;
  height: 50px !important;
  background-color: white;
  padding: 0px !important;
  border-radius: 10px;
  content: "";
}

.about-title {
  font-size: 50px;
  color: white;
  font-weight: 500;
}

.about-context {
  text-align: center;
  color: white;
}

@media (max-width: 446px) {
  .about-context p {
    width: 75% !important;
  }
}

body {
  overflow: hidden;
  z-index: -20;
  background-color: black !important;
}

ul {
  padding: 0px !important;
  margin: 0px !important;
}

header {
  font-family: 'Poppins', sans-serif;
}

header .navbar-item {
  text-decoration: none;
  color: #d1d1d1;
  margin: 0px 10px;
  font-size: 13px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-weight: 300;
}

header .navbar-item:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: white;
}

header .navbar-logo-name {
  font-size: 14px;
  color: white;
  font-weight: 300;
  letter-spacing: 2px;
  text-decoration: none;
}

header .navbar-logo-name:hover {
  color: white;
}

main {
  font-family: 'Poppins', sans-serif;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 10px;
}
/*# sourceMappingURL=style.css.map */